@model WebApplication1.Domain.Chapter

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Chapter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="chapterName" class="control-label"></label>
                <input asp-for="chapterName" class="form-control" />
                <span asp-validation-for="chapterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="level" class="control-label"></label>
                <input asp-for="level" class="form-control" />
                <span asp-validation-for="level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="standardSubjectId" class="control-label"></label>
                <select asp-for="standardSubjectId" class="form-control" asp-items="ViewBag.standardSubjectId"></select>
                <span asp-validation-for="standardSubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
