@model WebApplication1.Models.ForStandard
@{
    ViewData["Title"] = "AddTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@(Model.Id>0?"Edit":"Create")</h1>

<h4>Standard</h4>
<hr />

<hr />
<div class="row">
    <div class="col-md-4">

        <form method="post" asp-action="Create" asp-controller="Standards">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="standardName" class="control-label"></label>
                <input asp-for="standardName" class="form-control" />
                <span asp-validation-for="standardName" class="text-danger"></span>
            </div>

            <div class="form-group">
            <label asp-for="subjectIds" class="control-label"></label>
                <div class="col-sm-6">
                    @Html.ListBoxFor(model => model.subjectIds,new MultiSelectList(Model.subjectsDrp, "Value", "Text"), new { @class = "form-control", multiple = "multiple", id = "Subjects_dropdown" })
                </div>
                <br>
                <span asp-validation-for="subjectIds" class="text-danger"></span>
            </div>


            <div class="form-group row">
                <input type="submit" name="name" value="@(Model.Id>0?"Update": "Add")" class="btn btn-success" />
            </div>

        </form>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('#Subjects_dropdown').multiselect();
        });
    </script>
}